<p>This is a Template driven Form!</p>
<form (ngSubmit)="onSubmit($event)" >


    <div [ngClass]="{'inputField': true}">
        <label  for="username">username</label>
        <input name="username" [(ngModel)]="username" id="username" type="text">
    </div>

    <div [class.inputField]="true">
        <label for="email">email</label>
        <input name="email" [(ngModel)]="email" id="email" type="text">
    </div>

    <div class="inputField" >
        <label for="password">password</label>
        <input name="password" [(ngModel)]="password" id="password" type="password">
    </div>

    <div [className]="true? 'inputField': '' ">
        <input type="submit">
    </div>

</form>
